<ion-content>
  <div class="contents">
    <div class="content__top">
      <ion-label>
        <h1>Login Information</h1>
        <span>Sign in to your account</span>
      </ion-label>
      <ion-list class="inputs">
        <ion-icon name="mail" color="medium"> </ion-icon>
        <ion-input
          placeholder="email"
          type="email"
          [(ngModel)]="email"
          color="medium"
        ></ion-input>
      </ion-list>
      <ion-list class="inputs">
        <ion-icon name="lock-closed" color="medium"> </ion-icon>
        <ion-input
          placeholder="Password"
          type="password"
          [(ngModel)]="password"
          color="medium"
        ></ion-input>
      </ion-list>
    </div>
    <div class="content__bottom">
      <ion-button class="btn-primary" color="danger" (click)="next()">
        Next</ion-button
      >
      <p>
        Dont have an account?
        <span class="content__bottom__sign_up" (click)="register()">
          Sign Up
        </span>
      </p>
    </div>
  </div>
</ion-content>
