@use "../../../../theme/variables.scss" as m;

ion-content {
  h1 {
  }
  ion-tabs {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 4000;
    ion-tab-bar {
      ion-tab-button {
        ion-icon {
        }
        ion-label {
        }
      }
    }
  }
}
