@use "../../../../theme/variables.scss" as m;

ion-content {
  h1 {
  }
  & .ion-tabs {
    @include m.flexCenter();
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    ion-button {
      @include m.flexCenter();
      --background: transperent;
      ion-icon {
      }
      ion-label {
      }
    }
  }
}
